/* columns */
.admin-tmb {
  width: 90%;
  max-width: 54px;
}

.admin-tmb img {
  max-width: 100%;
  height: auto;
}

.wp-list-table .column-author,
.wp-list-table .column-id,
.wp-list-table .column-thumbnail,
.wp-list-table .column-menu_order {
  width: 6%;
}

.wp-list-table .column-attack_date,
.wp-list-table .column-event_date {
  width: 12%;
}

/*  dashboard */
#itv-dashboard-card {
  margin-bottom: 40px;
}

#itv-dashboard-card .itv-logo {
  width: 160px;
  height: 63px;
  margin-left: 9px;
}

#itv-dashboard-card .itv-logo img {
  max-width: 100%;
  height: auto;
}

#tst-support-card .tree-logo {
  width: 150px;
  height: 80px;
  margin-left: 9px;
}

.tst-dashboard .cols::after {
  clear: both;
  content: "";
  display: table;
}

.tst-dashboard .col-logo {
  float: left;
  width: 50%;
}

.tst-dashboard .col-logo a {
  display: block;
}

.tst-dashboard .col-logo img {
  max-width: 100%;
  height: auto;
}

.tst-dashboard .col-btn {
  float: right;
  width: 50%;
  text-align: right;
  padding-top: 5px;
}

.tst-dashboard .col-btn a {
  margin-right: 5px;
}

#wpadminbar #wp-admin-bar-wp-logo .ab-icon::before {
  color: #01E21A;
}

.tst-error {
  border: 1px solid #DD3D36;
  border-left-width: 5px;
  padding: 8px;
  color: #DD3D36;
}

.cmb-repeat-group-wrap .cmb2-wrap > .cmb-field-list > .cmb-row,
.postbox-container .cmb2-wrap > .cmb-field-list > .cmb-row {
  padding: 0.5em 0;
  margin: 0;
}

input.regular-text {
  width: 90%;
}

.cmb2-wrap select {
  min-width: 50%;
}

.cmb2-wrap .cmb-td textarea {
  width: 100%;
}

/* NF */
#post-body-content .nf-field-settings span.description {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}

#post-body-content .nf-field-settings .description-thin {
  width: 100%;
}

#post-body-content .ninja-forms-field-list div[id*="show_desc"],
#post-body-content .ninja-forms-field-list div[id*="label_pos"] {
  display: none;
}

div [id*="ninja_forms_metabox"] .item-edit.metabox-item-edit {
  color: rgba(255, 255, 255, 0);
}

div [id*="ninja_forms_metabox"] .item-edit.metabox-item-edit:before {
  color: #a0a5aa;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3N0ZGluIiwiLi4vLi4vbm9kZV9tb2R1bGVzL25vZGUtYm91cmJvbi9ub2RlX21vZHVsZXMvYm91cmJvbi9hcHAvYXNzZXRzL3N0eWxlc2hlZXRzL2FkZG9ucy9fY2xlYXJmaXguc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFLQSxhQUFhO0FBQ2I7RUFDQyxXQUFXO0VBQ1gsZ0JBQWdCO0NBS2hCOztBQVBEO0VBS0MsZ0JBQWdCO0VBQ2hCLGFBQWE7Q0FBRzs7QUFHakI7Ozs7RUFJQyxVQUFVO0NBQ1Y7O0FBRUQ7O0VBRUMsV0FBVztDQUNYOztBQUVELGdCQUFnQjtBQUNoQjtFQUNDLG9CQUFvQjtDQVlwQjs7QUFiRDtFQUlFLGFBQWE7RUFDYixhQUFhO0VBQ2IsaUJBQWlCO0NBTWpCOztBQVpGO0VBU0csZ0JBQWdCO0VBQ2hCLGFBQWE7Q0FDYjs7QUFJSDtFQUVFLGFBQWE7RUFDYixhQUFhO0VBQ2IsaUJBQWlCO0NBQ2pCOztBQUdGO0VDL0JJLFlBQVk7RUFDWixZQUFZO0VBQ1osZUFBZTtDQUNoQjs7QUQ0Qkg7RUFPRSxZQUFZO0VBQ1osV0FBVztDQVFYOztBQWhCRjtFQVVNLGVBQWU7Q0FBSTs7QUFWekI7RUFhRyxnQkFBZ0I7RUFDaEIsYUFBYTtDQUNiOztBQWZIO0VBbUJFLGFBQWE7RUFDYixXQUFXO0VBQ1gsa0JBQWtCO0VBQ2xCLGlCQUFpQjtDQUlqQjs7QUExQkY7RUF3Qkcsa0JBQWtCO0NBQ2xCOztBQUtIO0VBQ0MsZUFBZTtDQUNmOztBQUVEO0VBQ0MsMEJBQTBCO0VBQzFCLHVCQUF1QjtFQUN2QixhQUFhO0VBQ2IsZUFBZTtDQUNmOztBQUVEOztFQUVDLGlCQUFpQjtFQUNqQixVQUFVO0NBQ1Y7O0FBR0Q7RUFDQyxXQUFXO0NBQ1g7O0FBRUQ7RUFDQyxlQUFlO0NBQ2Y7O0FBRUQ7RUFDQyxZQUFZO0NBQ1o7O0FBR0QsUUFBUTtBQUNSO0VBRUUsZUFBZTtFQUNmLGdCQUFnQjtFQUNoQixpQkFBaUI7Q0FDakI7O0FBTEY7RUFPRSxZQUFZO0NBQ1o7O0FBR0Y7O0VBRUMsY0FBYztDQUNkOztBQUVEO0VBQ0MsOEJBQVc7Q0FJWDs7QUFMRDtFQUdFLGVBQWU7Q0FDZiIsImZpbGUiOiJhZG1pbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAY2hhcnNldCBcIlVURi04XCI7XG5cbi8vaW5pdHNcbkBpbXBvcnQgXCJib3VyYm9uXCI7XG5cbi8qIGNvbHVtbnMgKi9cbi5hZG1pbi10bWIge1xuXHR3aWR0aDogOTAlO1xuXHRtYXgtd2lkdGg6IDU0cHg7XG5cdFxuXHRpbWcge1xuXHRtYXgtd2lkdGg6IDEwMCU7XG5cdGhlaWdodDogYXV0bzsgfVxufVxuXG4ud3AtbGlzdC10YWJsZSAuY29sdW1uLWF1dGhvcixcbi53cC1saXN0LXRhYmxlIC5jb2x1bW4taWQsIFxuLndwLWxpc3QtdGFibGUgLmNvbHVtbi10aHVtYm5haWwsXG4ud3AtbGlzdC10YWJsZSAuY29sdW1uLW1lbnVfb3JkZXJ7XG5cdHdpZHRoOiA2JTtcbn1cblxuLndwLWxpc3QtdGFibGUgLmNvbHVtbi1hdHRhY2tfZGF0ZSxcbi53cC1saXN0LXRhYmxlIC5jb2x1bW4tZXZlbnRfZGF0ZSB7XG5cdHdpZHRoOiAxMiU7XG59XG5cbi8qICBkYXNoYm9hcmQgKi9cbiNpdHYtZGFzaGJvYXJkLWNhcmQge1xuXHRtYXJnaW4tYm90dG9tOiA0MHB4O1xuXHRcblx0Lml0di1sb2dvIHtcblx0XHR3aWR0aDogMTYwcHg7XHRcdFxuXHRcdGhlaWdodDogNjNweDtcblx0XHRtYXJnaW4tbGVmdDogOXB4O1xuXHRcdFxuXHRcdGltZyB7XG5cdFx0XHRtYXgtd2lkdGg6IDEwMCU7XG5cdFx0XHRoZWlnaHQ6IGF1dG87IFxuXHRcdH1cblx0fVxufVxuXG4jdHN0LXN1cHBvcnQtY2FyZCB7XHRcdFxuXHQudHJlZS1sb2dvIHtcblx0XHR3aWR0aDogMTUwcHg7XG5cdFx0aGVpZ2h0OiA4MHB4O1xuXHRcdG1hcmdpbi1sZWZ0OiA5cHg7XHRcdFxuXHR9XG59XG5cbi50c3QtZGFzaGJvYXJkIHtcblx0XG5cdC5jb2xzIHtcblx0XHRAaW5jbHVkZSBjbGVhcmZpeDtcblx0fVxuXHRcblx0LmNvbC1sb2dvIHtcblx0XHRmbG9hdDogbGVmdDtcblx0XHR3aWR0aDogNTAlO1xuXHRcdFxuXHRcdGEgeyBkaXNwbGF5OiBibG9jazsgfVxuXHRcdFxuXHRcdGltZyB7XG5cdFx0XHRtYXgtd2lkdGg6IDEwMCU7XG5cdFx0XHRoZWlnaHQ6IGF1dG87IFxuXHRcdH1cblx0fVxuXHRcblx0LmNvbC1idG4ge1xuXHRcdGZsb2F0OiByaWdodDtcblx0XHR3aWR0aDogNTAlO1xuXHRcdHRleHQtYWxpZ246IHJpZ2h0O1xuXHRcdHBhZGRpbmctdG9wOiA1cHg7XG5cdFx0YSB7XG5cdFx0XHRtYXJnaW4tcmlnaHQ6IDVweDtcblx0XHR9XG5cdH1cbn1cblxuXG4jd3BhZG1pbmJhciAjd3AtYWRtaW4tYmFyLXdwLWxvZ28gLmFiLWljb246OmJlZm9yZSB7XG5cdGNvbG9yOiAjMDFFMjFBO1xufVxuXG4udHN0LWVycm9yIHtcblx0Ym9yZGVyOiAxcHggc29saWQgI0REM0QzNjtcblx0Ym9yZGVyLWxlZnQtd2lkdGg6IDVweDtcblx0cGFkZGluZzogOHB4O1xuXHRjb2xvcjogI0REM0QzNjtcbn1cblxuLmNtYi1yZXBlYXQtZ3JvdXAtd3JhcCAuY21iMi13cmFwID4gLmNtYi1maWVsZC1saXN0ID4gLmNtYi1yb3csXG4ucG9zdGJveC1jb250YWluZXIgLmNtYjItd3JhcCA+IC5jbWItZmllbGQtbGlzdCA+IC5jbWItcm93IHtcblx0cGFkZGluZzogMC41ZW0gMDtcblx0bWFyZ2luOiAwO1xufVxuXG5cbmlucHV0LnJlZ3VsYXItdGV4dCB7XG5cdHdpZHRoOiA5MCU7XG59XG5cbi5jbWIyLXdyYXAgc2VsZWN0IHtcblx0bWluLXdpZHRoOiA1MCU7XG59XG5cbi5jbWIyLXdyYXAgLmNtYi10ZCB0ZXh0YXJlYSB7XG5cdHdpZHRoOiAxMDAlO1xufVxuXG5cbi8qIE5GICovXG4jcG9zdC1ib2R5LWNvbnRlbnQgLm5mLWZpZWxkLXNldHRpbmdzIHtcblx0c3Bhbi5kZXNjcmlwdGlvbiB7XG5cdFx0ZGlzcGxheTogYmxvY2s7XG5cdFx0Zm9udC1zaXplOiAxMnB4O1xuXHRcdG1hcmdpbi1ib3R0b206IDA7XG5cdH1cblx0LmRlc2NyaXB0aW9uLXRoaW4ge1xuXHRcdHdpZHRoOiAxMDAlO1xuXHR9XG59XG5cbiNwb3N0LWJvZHktY29udGVudCAubmluamEtZm9ybXMtZmllbGQtbGlzdCBkaXZbaWQgKj1cInNob3dfZGVzY1wiXSxcbiNwb3N0LWJvZHktY29udGVudCAubmluamEtZm9ybXMtZmllbGQtbGlzdCBkaXZbaWQgKj1cImxhYmVsX3Bvc1wiXSB7XG5cdGRpc3BsYXk6IG5vbmU7XG59XG5cbmRpdiBbaWQgKj1cIm5pbmphX2Zvcm1zX21ldGFib3hcIl0gLml0ZW0tZWRpdC5tZXRhYm94LWl0ZW0tZWRpdCB7XHRcblx0Y29sb3I6IHJnYmEoMjU1LDI1NSwyNTUsIDApO1xuXHQmOmJlZm9yZSB7XG5cdFx0Y29sb3I6ICNhMGE1YWE7XG5cdH1cbn0iLCJAY2hhcnNldCBcIlVURi04XCI7XG5cbi8vLyBQcm92aWRlcyBhbiBlYXN5IHdheSB0byBpbmNsdWRlIGEgY2xlYXJmaXggZm9yIGNvbnRhaW5pbmcgZmxvYXRzLlxuLy8vXG4vLy8gQGxpbmsgaHR0cDovL2Nzc21vam8uY29tL2xhdGVzdF9uZXdfY2xlYXJmaXhfc29fZmFyL1xuLy8vXG4vLy8gQGV4YW1wbGUgc2NzcyAtIFVzYWdlXG4vLy8gICAuZWxlbWVudCB7XG4vLy8gICAgIEBpbmNsdWRlIGNsZWFyZml4O1xuLy8vICAgfVxuLy8vXG4vLy8gQGV4YW1wbGUgY3NzIC0gQ1NTIE91dHB1dFxuLy8vICAgLmVsZW1lbnQ6OmFmdGVyIHtcbi8vLyAgICAgY2xlYXI6IGJvdGg7XG4vLy8gICAgIGNvbnRlbnQ6IFwiXCI7XG4vLy8gICAgIGRpc3BsYXk6IHRhYmxlO1xuLy8vICAgfVxuXG5AbWl4aW4gY2xlYXJmaXgge1xuICAmOjphZnRlciB7XG4gICAgY2xlYXI6IGJvdGg7XG4gICAgY29udGVudDogXCJcIjtcbiAgICBkaXNwbGF5OiB0YWJsZTtcbiAgfVxufVxuIl0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
