.DS_Store
.idea
.htaccess
.sass-cache
.vagrant
.komodotools/

**/core/
**/wp-content/vendor/
**/wp-content/uploads/
**/wp-content/languages/
**/wp-content/plugins/
**/bower_components/
**/node_modules/
**/_temp/

wp-config.php
debug.log
