*/.DS_Store
.DS_Store
.idea/*
core/*
wp-content/vendor/*
wp-content/uploads/*
wp-content/themes/tstnext/node_modules/*
wp-content/themes/tstnext/bower_components/*
wp-content/languages/*
.idea/*
core/*
wp-content/plugins/*
wp-content/uploads/*
wp-content/vendor/*
*/bower_components/*
*/node_modules/*
wp-config.php
.komodotools
debug.log
_temp
.htaccess
.sass-cache
bower_components
node_modules
