/** Logo styles **/

svg.logo { display: inline-block; }

//logo in top nav panel
.site-logo {
	text-align: center;
	top: 12px;
	
	@media screen and (max-width: $layout-screen-size-threshold) {		
		top: 8px;
	}
	
	.logo {		
		width: 29px;
		height: 40px;
		fill: #ffffff;	
	}
}

//logo in drawer panel
.navigation-logo {
	display: block;
	text-align: center;
			
	.logo {		
		width: 29px;
		height: 40px;
		fill: $tst-color-primary;
	}		
}


//homepage
.home-logo {
	position: relative;
	z-index: 10;
	padding: 8px 0 48px;
	
	.logo {		
		width: 250px;
		height: 114px;
	}
}